     {% extends 'core/base.html' %}
     {% load static %}
     {%block title%}Información Personal{% endblock %}
     {%block headers%}
        <meta charset= "UTF-8">
        <meta name="viewport" content="width=device-width", 
        user-scalable=ni,initial-scale=1.0,maximium-scale=1.0,minimium-scale=1.0">
        <link rel="stylesheet" href="{%static 'core/css/estilos.css'%}">
        <link rel="stylesheet" href="{%static 'core/css/listas.css'%}">
    {% endblock %}
    {%block content%}
    <body> 
        <div class="contenedor">
            <section class="titulo">
                    <img src=" {%static 'core/img/qr.png'%}" alt=""> 
                    <h1>Informacion Personal:</h1>
            </section>

            <section class="contenidoPrincipal">
                <div class="responsive-table">
                        <table class="table"> 
                                <tr> 
                                    <td><img src="{%static 'core/img/info1.jpg'%}" alt=""  > </td> 
                                    <td><a href=""></a></td>
                                </tr>
                        </table>
                </div>
            </section>
    </body>
    {%endblock%}