body {
    margin: 0;
    padding: 0;
    background:url(img/Parqueadero.jpg);
    background-size: cover;
    /*font-family: sans-serif;*/
    height: 100vh;
  }

  .login-box {
    width: 430px;
    height: 460px;
    background:rgba(101, 102, 114, 0.7);
    color:black;
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 120px 30px;
    
  }
  
  .login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }

  
  
  /*.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }*/
  
  form, .content {
    width: 70%;
    margin: 0px auto;
    padding: 20px;
    position: absolute;
    border: 1px solid #B0C4DE;
    background:rgba(101, 102, 114, 0.7);;
    border-radius: 0px 0px 10px 10px;
  }
  .input-group {
    margin: 10px 0px 10px 0px;
  }
  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
  }
  .input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid black;
  }
  ::placeholder{
      color: white;
  }
  .login-box input[type="text"] {
    border: none;
    border-bottom: 1px solid;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
  }
  .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
  }

  .btn {
    border: none;
    outline: none;
    height: 40px;
    width: 300px;
    background: aqua;
    color:black;
    font-size: 18px;
    border-radius: 20px;

  }
  .error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
  }
  .success {
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
  }
  

 